/* 
.navContainer{
    width: 100%;
    max-width: 1024px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
    color: black;
    margin-right: 250px;
}

.navItems ul{
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.navItems ul li{
    list-style: none;
    margin: 0px 30px;
}

.navItems ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}

.navButtons{
    margin-left: 20px;
    border: 2px solid white;
    border-radius: 8px;
    padding: 3px 8px;
    cursor: pointer;
    color: black;
} */


/* .navbar */
.navbar {
    background-color: rgba(5, 32, 60, 0.3) !important;
    height: 60px;
    overflow: hidden;
    z-index: 500 !important;
  }
  
  /* .navbar .navbar-brand */
  .navbar .navbar-brand {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .navbar-btn{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem;
  }
  
  /* .navbar .navbar-brand:hover */
  .navbar .navbar-brand:hover {
    color: white !important;
  }
  
  /* .navbar ul li .btn */
  .navbar ul li .btn {
    color: black !important;
    background: white !important;
    cursor: pointer;
    border-radius: 3px !important;
  }
  
  /* .navbar ul li .btn:hover */
  .navbar ul li .btn:hover {
    background-color: rgba(10, 10, 10, 0.3) !important;
    color: white !important;
  }
  
  /* .navbar ul li .btn i */
  .navbar ul li .btn i {
    font-size: 17px;
    color: red;
  }
  
  /* .navbar.active */
  .navbar.active {
    background-color: rgba(10, 31, 54, 0.9) !important;
  }
  
  /* .login-btn */
  .login-btn {
    display: flex;
    align-items: center;
    background-color: white !important;
    color: black !important;
  }
  
  /* .login-btn:hover */
  .login-btn:hover {
    background-color: rgba(10, 10, 10, 0.3) !important;
    color: white !important;
  }
  
  /* .login-btn i */
  .login-btn i {
    margin-left: 0.3rem;
    font-size: 14px;
  }
  